# SPDX-FileCopyrightText: 2022 Felipe Kinoshita <kinofhek@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Tasks
Name[ast]=Xeres
Name[ca]=Tasks
Name[ca@valencia]=Tasks
Name[cs]=Úlohy
Name[de]=Aufgaben
Name[en_GB]=Tasks
Name[eo]=Tasks
Name[es]=Tareas
Name[eu]=Atazak
Name[fi]=Tasks
Name[fr]=Tâches
Name[gl]=Tarefas
Name[ia]=Cargas
Name[it]=Attività
Name[ka]=Tasks
Name[ko]=할 일
Name[nl]=Taken
Name[nn]=Gjeremål
Name[pl]=Zadania
Name[pt]=Tarefas
Name[ru]=Задачи
Name[sk]=Úlohy
Name[sl]=Tasks
Name[sv]=Uppgifter
Name[tr]=Görevler
Name[uk]=Завдання
Name[x-test]=xxTasksxx
GenericName=To Do Application
GenericName[ca]=Aplicació de tasques pendents
GenericName[ca@valencia]=Aplicació de tasques pendents
GenericName[de]=Anwendung für Aufgabenlisten
GenericName[en_GB]=To Do Application
GenericName[eo]=Aplikaĵo por Farendaĵoj
GenericName[es]=Aplicación de tareas pendientes
GenericName[eu]=Zereginetarako aplikazioa
GenericName[fi]=Tehtäväsovellus
GenericName[fr]=Application pour tâches à réaliser
GenericName[gl]=Aplicación de tarefas
GenericName[ia]=Application a facer
GenericName[it]=Applicazione di gestione delle cose da fare
GenericName[ka]=დარჩენილი ამოცანების აპლიკაცია
GenericName[ko]=할 일 앱
GenericName[nl]=Toepassing voor tedoen
GenericName[nn]=Oppgåveliste-program
GenericName[pl]=Program do zapisywania sobie zadań
GenericName[pt]=Aplicação de Itens Por-Fazer
GenericName[sl]=Aplikacija za seznam opravil
GenericName[sv]=Uppgiftsprogram
GenericName[tr]=Yapılacaklar Uygulaması
GenericName[uk]=Програма для керування завданнями
GenericName[x-test]=xxTo Do Applicationxx
Comment=Organize your tasks
Comment[ca]=Organitzeu les vostres tasques
Comment[ca@valencia]=Organitzeu les vostres tasques
Comment[cs]=Organizujte svoje úkoly
Comment[de]=Verwalten Sie Ihre Aufgaben
Comment[en_GB]=Organise your tasks
Comment[eo]=Organizu viajn taskojn
Comment[es]=Organice sus tareas
Comment[eu]=Antolatu zure atazak
Comment[fi]=Järjestä tehtäväsi
Comment[fr]=Organiser vos tâches
Comment[gl]=Organice as súas tarefas.
Comment[ia]=Organisa tu cargas
Comment[it]=Organizza le tue attività
Comment[ka]=დაალაგეთ თქვენი ამოცანები
Comment[ko]=내 할 일 관리
Comment[nl]=Uw taken organiseren
Comment[nn]=Organiser gjeremål
Comment[pl]=Uporządkuj swoje zadania
Comment[pt]=Organizar as suas tarefas
Comment[sl]=Organizirajte vaša opravila
Comment[sv]=Organisera dina uppgifter
Comment[tr]=Görevlerinizi düzenleyin
Comment[uk]=Упорядкуйте ваші завдання
Comment[x-test]=xxOrganize your tasksxx
Exec=tasks
Icon=org.kde.tasks
Type=Application
Terminal=false
Categories=Qt;KDE;Utility;
Keywords=Productivity;Todo;Task;
Keywords[ca]=Productivitat;Tasca pendent;Tasca;
Keywords[ca@valencia]=Productivitat;Tasca pendent;Tasca;
Keywords[de]=produktivität;aufgaben;
Keywords[en_GB]=Productivity;To-do;Task;
Keywords[eo]=Produktiveco;Farendaĵo;Tasko;
Keywords[es]=Productividad;Tareas pendientes;Tareas;
Keywords[eu]=Produktibitatea;zeregina;ataza;
Keywords[fi]=Tuottavuus;Tehtävä;
Keywords[fr]=Productivité;Tâche à faire;Tâches;
Keywords[gl]=produtividade;tarefa;
Keywords[ia]=Productivitate;Facer;Agenda;Carga;
Keywords[it]=Produttività;Da fare;Attività;
Keywords[ka]=Productivity;Todo;Task;
Keywords[ko]=Productivity;Todo;Task;생산성;할 일;작업;업무;
Keywords[nl]=Productiviteit;Tedoen;Taak;
Keywords[nn]=produktivitet;todo;oppgåver;gjeremål;
Keywords[pl]=Produktywność;Do zrobienia;Zadanie;
Keywords[pt]=Produtividade;Por-fazer;Tarefa;
Keywords[sl]=Produktivnost;Opravilo;Naloga;
Keywords[sv]=Produktivitet;Att göra;Uppgift;
Keywords[tr]=Üretkenlik;Yapılacak;Görev;
Keywords[uk]=Productivity;Todo;Task;задача;продуктивність;зробити;робота;завдання;
Keywords[x-test]=xxProductivityxx;xxTodoxx;xxTaskxx;
Keywords[zh_CN]=Productivity;Todo;Task;生产力;待办事项;任务;shengchanli;daibanshixiang;renwu;
SingleMainWindow=true
