# SPDX-FileCopyrightText: 2022 Felipe Kinoshita <kinofhek@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Tasks
Name[ca]=Tasques
Name[ca@valencia]=Tasques
Name[es]=Tareas
Name[fr]=Tâches
Name[it]=Attività
Name[ka]=Tasks
Name[ko]=할 일
Name[nl]=Taken
Name[pt]=Tarefas
Name[sk]=Úlohy
Name[sl]=Tasks
Name[sv]=Uppgifter
Name[tr]=Görevler
Name[uk]=Завдання
Name[x-test]=xxTasksxx
GenericName=To Do Application
Comment=Organize your tasks
Comment[ca]=Llista de tasques senzilla
Comment[ca@valencia]=Llista de tasques senzilla
Comment[es]=Lista de tareas sencilla
Comment[fr]=Liste simple de tâches
Comment[it]=Semplice elenco di attività
Comment[ka]=მატივი ამოცანების სია
Comment[ko]=간단한 할 일 목록
Comment[nl]=Eenvoudige takenlijst
Comment[pt]=Lista de tarefas simples
Comment[sk]=Jednoduchý zoznam úloh
Comment[sl]=Enostaven seznam nalog
Comment[sv]=Enkel uppgiftslista
Comment[tr]=Yalın görevler listesi
Comment[uk]=Простий список завдань
Comment[x-test]=xxSimple task listxx
Exec=tasks
Icon=org.kde.tasks
Type=Application
Terminal=false
Categories=Qt;KDE;Utility;
Keywords=Productivity;Todo;Task;
SingleMainWindow=true
